     <link href= "../public/css/adopt.css" rel="stylesheet">
    </head>

<body>

<section class="container">
  <h3 class="adopt">Adopt!!!</h3>
  <section class="flex-row justify-center">
    {{!-- {{#each post}} --}}
    {{#each plants as |post|}}
    <p>{{> displayAdopt}}</p>
    {{/each}} 
  </section>
</section>

