<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-outline" onclick="window.location" aria-current="page" href="./home">home</a>
        <a class="btn btn-outline" onclick="window.location" aria-current="page" href="./newPost">post</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<section class="container">
  <h3 class="adopt">Adopt A Plant!</h3>
  <section class="flex-row justify-center">
    {{!-- {{#each post}} --}}
    {{#each plants as |post|}}
    <p>{{> displayAdopt}}</p>
    {{/each}}
  </section>
</section>