<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-outline" onclick="window.location" aria-current="page" href="./adopt">adopt</a>
        <a class="btn btn-outline" onclick="window.location" aria-current="page" href="./login">login</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<h1>community garden</h1>
<h3>create a post</h3>
<div class="col-4">
  <div class="form-floating mb-3">
    <input type="name" class="form-control" id="plant_name" placeholder="name">
    <label for="floatingInput">plant name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="description" class="form-control" id="description" placeholder="username">
    <label for="floatingInput">description</label>
  </div>

  <div class="form-floating mb-3">
    <input type="sunreq" class="form-control" id="sun_requirement" placeholder="sun">
    <label for="floatingInput">how much sun?</label>
  </div>
  <div class="form-floating mb-3">
    <input type="petsafe" class="form-control" id="pet_safe" placeholder="pet">
    <label for="floatingInput">is this plant pet safe?</label>
  </div>

  <div class="form-floating mb-3">
    <input type="edible" class="form-control" id="edible" placeholder="edible">
    <label for="floatingInput">is this plant edible?</label>
  </div>

  <div class="form-floating mb-3">
    <input type="easycare" class="form-control" id="easy_care" placeholder="easy">
    <label for="floatingInput">is this plant easy to care for? yes or no?</label>
  </div>

  <div class="form-floating mb-3">
    <input type="water" class="form-control" id="water_needed" placeholder="water">
    <label for="floatingInput">how often does this plant need water?</label>
  </div>

  <div class="form-floating mb-3">
    <input type="growth" class="form-control" id="growth_rate" placeholder="growth">
    <label for="floatingInput">how fast does this plant grow?</label>

    <div class="form-floating mb-3">
      <input type="size" class="form-control" id="size" placeholder="size">
      <label for="floatingInput">how big is this plant now?</label>
    </div>
    <div class="form-floating mb-3">
      <input type="size" class="form-control" id="user_email" placeholder="email">
      <label for="floatingInput">please enter your email</label>
    </div>
  </div>

  <button id="postbtn" type="submit" class="btn btn-primary" href="/adopt">post</button>

</div>