//HTML sent back to the client
<div>
    {{body}}
    <div class="post-card">
        {{#each newPost as |post|}}
        <div class="card-body">
            {{> displayAdopt}}

            {{/each}}
        </div>
    </div>