h1 {
    color:#40693E;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    text-align: center;
    
}

h5 {
    color:#40693E;
    font-family: 'Amatic Sc', cursive;
    font-size: 45px;
}

nav {
    color:#40693E;
    font-family: 'Amatic SC', cursive;

}

p {
   color:black;
   font-family: 'Amatic SC', cursive; 
   font-size: 30px;
}

.logout{
    align-items: flex-end;
}

.push {
    height: 30vh;
}