nav {
    color:#40693E;
    font-family: 'Amatic SC', cursive;

}

h1 {
    color:#40693E;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    text-align: center;
    
}


.col-4{
    align-items: center;
}

.push {
    height: 30vh;
}